@media screen and (max-width: 730px) {
    #header-lista li a i {
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 626px) {
    #btnMenu {
        display: block;
    }

    #header-lista {
        flex-direction: column;
    }
    #header-lista li {
        text-align: center;
    }
}

@media screen and (max-width: 530px) {
    header h1 {
        font-size: 1.9em;
    }
}

@media screen and (max-width: 1020px) {
    #container-logo {
        position: static;
    }
    #logo {
        width: 80px;
    }
}